 @import url('https://fonts.googleapis.com/css2?family=Spartan: wght@100;200;300;400;500;600;700;800;900&display=swap');

 #header {
  z-index: 10000;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 4px;
  background:#E3E6F3;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  padding-left: 0cm;
  position: sticky;
  z-index: 1;
  top:0;
  left:0;
  
}
#navbar {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}


#navbar li{
   list-style: none;
   padding: 0 20px;

   position: relative;
}

#header ul{
  margin-bottom: 0px;
  margin-left: 100px;
}

.row{
  margin-left: 105px;
}

#login_page{
  margin-bottom: 105px;
}

#cart-title{
  margin-left: 7.5rem;
}
#cart-bill{
  margin-right: 5rem;
}
#cart-item{
  margin-bottom: 10rem;
}


#navbar li a{
   text-decoration:none;
   font-size: 25px;
   font-weight: 600;
   padding-right: 0px;
   color: black;
   transition: 0.3s ease;

}

#navbar li a:hover,
#navbar li a.active{
   color: rgb(0, 190, 149);
}

#navbar li a.active::after,
#navbar li a:hover::after{
   content: "";
   width: 30%;
   height : 2px;
   background: rgb(0, 190, 149);
   position: absolute;
   bottom: -4px;
   left: 20px;
}
#close{
   display: none;
}

#mobile{
   display: none;
   align-items: center;
}
#ae{
   display: flex;
   align-items: center;
   color: black;
   text-decoration:none;
   font-size: 30px;
   text-align: start;
   font-family: 'Copperplate' , fantasy;
   flex-direction: row;
  justify-content: space-between;
   
}
  #hero{
  background-image: url("../public/images/background/img.jpg");
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: top 0% right 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 60px;
}
#hero h1{
  font-size: 50px;
  font-weight: bold;
  font-family: 'Spartan', sans-serif;
  
}
.font{
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
}
#hero h2{

  font-size: 30px;
  padding-bottom: 15px;
  font-weight: bold;
  font-family: 'Spartan', sans-serif;
}


#hero h1.fo{
  color: rgb(5, 255, 130);
  padding-bottom: 15px;
  font-family: 'Spartan', sans-serif;
}
#hero p{
  color: #72747a;
  padding-bottom: 15px;
  font-family: 'Spartan', sans-serif;
}

#hero button{
 
   background-image: url("../public/images/button/button.png");
   background-color: transparent;
   background-size: 90px;
   color: #42444b;
   border: 0;
   background-position: center;
   
   padding: 8px 65px 16px 70px;
   background-repeat: no-repeat;
   cursor: pointer;
   font-weight: 700;
   text-decoration: none;
   font-family: 'Spartan', sans-serif;
   


   
}
#hero button a{
text-decoration: none;
font-family: 'Spartan', sans-serif;


color: #42444b;
}
#hero button a:hover{
  color: #ffc934;
  transition: 0.3s ease;
  }
  
  html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.section-p{
  padding:40px 40px;
  
}
#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
  border: 1px  solid #e9dcdc;
  margin:15px 0;
  
}

#feature .fe-box:hover{
  box-shadow:34px 34px 34px rgb(70, 62, 221,0.1);
}
#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  font-family: 'Spartan', sans-serif;
  line-height: 1;
  border-radius: 3px;
  color: #06ffa4;
  background-color: #d87b00 ;

}
#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box:nth-child(3) h6{
  background-color: #7d00ea;
 
}

#feature .fe-box:nth-child(2) h6{
  background-color: #009be2;
 
}
#feature .fe-box:nth-child(4) h6{
  background-color: #c05000 ;
}
#feature .fe-box:nth-child(5) h6{
  background-color: #0080e2;
}
#feature .fe-box:nth-child(6) h6{
  background-color: #00c066 ;
}

#feat h1{
  align-items: center;
  padding-top: 20px;  
  padding-left: 13cm;
  font-family: 'Spartan', sans-serif;
  display: flex;
  font-size: 50px;
 font-weight: bold;
}

#feat h5{
  text-align: center;
  padding-top: 20px;  
  padding-left: 11cm;
  color: #aaaeba;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Spartan', sans-serif;


} 

#Shop{
  align-items: center;
  padding-top: 50px;  
  padding-left: 13cm;
  font-family: 'Spartan', sans-serif;
  display: flex;
  font-size: 50px;
 font-weight: bold;
}

a:hover{
  text-decoration: none;
}

#product1{
  text-align: center;
}

#product1 .procontainer{
  display: flex;
  justify-content:space-between;
  padding-top: 20px;
  flex-wrap: wrap;

}

#product1 .pro{
  width: 21%;
  min-width: 250px;
 padding: 10px 5px;
  border: 1px solid #bfbfbf;
  border-radius: 25px;
  cursor: pointer;
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
 

}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px#72747a;
}
#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}
#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}
#product1 .lok img{
  
  border: 1px solid #bfbfbf ; 
}
#product1 .lok{
display: flex;
justify-content:space-between;
padding-top: 20px;
flex-wrap: wrap;
}

#product1 .pro .a img{
  border: 1px solid #bfbfbf ; 
}


#product1 .pro .des{
  text-align: center;
  padding: 10px 0;
  left: 10px;
  width: 180px;
  padding-left: 40px;
}

#product1 .pro .a{
border: #72747a;
text-decoration: none;
}

#product1 .pro .des h5{
  padding-top: 12px;
  color: #292a2e;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Spartan', sans-serif;
}

#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #00c066;
  font-family: 'Spartan', sans-serif;
}

#product1 .pro .cart{

  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #ffff95;
  font-weight: 500;
  color: #00c066;
  border: 1px solid #fffbd4;
  position: absolute;
  bottom: 27px;
  right: 20px;
}

#product1 .pro .cart:hover{
  background-color: #00c066 ;
  color: #ffff95;
}
#product1 .procontainer:nth-child(5){
  padding-top: 2cm;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

nav {
  background-color: #232f3e;
  padding: 1rem 1rem;
}

#search_btn {
  background-color: #ffff95;
  color:#06ffa4
}

#search_btn:hover {
  background-color:#06ffa4;
  color: #ffff95
}

.input-group {
  width: 90%;
  margin-right: 35%;
}

#search_field {
  height: 2.4rem;
}

#login_btn,
#view_btn {
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
  color: #000b2d;
  background-color: #06ffa4;
  padding: 0.4rem 1.8rem;
  font-family: calibri;
}

#login_btn:hover,
#view_btn:hover {
  box-shadow: 1px 1px 1px #000000;
  color: #00754a;
  background-color: #ffff95;
}

#cart {
  font-size: 1rem;
  color: white;
}

#cart_count {
  background-color: #febd69;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Home page */
#products_heading {
  margin-top: 1.8rem;
  margin-left: 18rem;
}

.card {
  height: 100%;
  border-radius: 20px;
}

.card-title a {
  color: #2e2e2e;
}

.card-title a:hover {
  color: #00c066;
  text-decoration: none;
}

.card-body {
  padding-left: 0;
}

.card-text {
  font-size: 1.4rem;
}

#view_btn {
  background-color: #06ffa4;
  color: white;
}

.card-img-top {
  width: 200px;
  height: 300px;
}

.ratings {
  font-size: 1.2rem;
  color: #fdcc0d;
}

#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}

/* Footer */
footer {
  color: grey;
  bottom: 0;
  width: 100%;
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fdcc0d;
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #f8ce0b;
}

/* Product Details Page */
#product_id {
  color: grey;
  font-size: 0.8rem;
}

#pro-detail{
  height: 650px;
}

.reviews{
  margin-left: 180px;
}


#product_price {
  font-size: 2rem;
  font-weight: bold;
}

.cartbtn,
#review_btn {
  border-radius: 2rem;
  background-color: #05ff5d;
  border:2px solid #ffffff;
  box-shadow: 2px 2px 3px#72747a;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

.btndisabled{
  background-color: #059e576a !important;
  color: #e3e3e3;
  box-shadow:0px 0px 0px #000;
  border-radius: 2rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
}
.cartbtn:hover,
#review_btn:hover {
  background-color: #ffff95;
  border:2px double #009233;
  box-shadow: 2px 2px 3px#72747a;
  color: #009032;
}

#product_seller {
  color: grey;
  font-size: 0.9rem;
}

#stock_status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}

#product_image {
  margin-top: 5rem;
}

/* Loader */

.ring{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.ring img{
  margin-left: 15px;
  margin-top: 14px;   
}

.ring:before{
  content: '';
  position: absolute;
  top: -2px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 8px solid #ff8400;
  border-right: 8px solid #ff8400;
  border-radius: 50%;
  animation:animate 2s linear infinite;
}

.ring:after{
  content: '';
  position: absolute;
  top: -22px;
  left: -20px;
  width:125%;
  height: 125%;
  border: 3px solid transparent;
  border-bottom: 8px solid #1ea5ff;
  border-left: 8px solid #1ea5ff;
  border-radius: 50%;
  animation:animateRight 2s linear infinite;
}

@keyframes animate {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

@keyframes animateRight {
  0%{
      transform: rotate(360deg);
  }
  100%{
      transform: rotate(0deg);
  }
}

/* Cart */

.cart-item {
  margin: 1.8rem 0rem;
  padding: 0rem 0.7rem;
}

.cart-item a {
  color: grey;
}

#delete_cart_item {
  color: red;
  background: white;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  border: none;
}

#card_item_price {
  color: #febd69;
  font-weight: bold;
  font-size: 1.4rem;
}

#checkout_btn,
.review-btn {
  background-color: #05ff5d;
  border: 2px double #ffffff;
  box-shadow:1px 1px 5px #000;
  color: #fff;
  margin-top: 2rem;
  font-weight: bold;
  border-radius: 5rem;
}

#checkout_btn:hover,
.review-btn:hover {
  background-color: #ffff95;
  border:2px double #009233;
  box-shadow: 2px 2px 3px#72747a;
  color: #009032;
  margin-top: 2rem;
  font-weight: bold;
  border-radius: 5rem;
}


#view_order_details {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

#order_summary {
  border: 1px solid #e3e3e3;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}



.order-summary-values {
  float: right;
  font-weight: bold;
}

.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
}

.plus,
.minus {
  padding: 0.1rem 0.5rem;
}

.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}

/* Login & Register */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  font-weight: 700;
}

.wrapper form {
  padding: 2.5rem 3rem;
}

.wrapper form .btn {
  background-color: #06ffa4;
  border-color: #f1f1f1;
  font: 1em sans-serif;
  font-weight: 700;
  color: white;
  margin-top: 2.5rem;
}
.wrapper form .btn:hover{
  background-color: #fff;
  color: #06ffa4;
  box-shadow: 0px 0px 2px #000;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}

/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.rounded-circle {
  border-radius: 50% !important;
  
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* Header User Profile */


.avatar-nav {
  margin-right: 0.6rem;
  height: 2.2rem;
  width: 2.2rem;
}

/* Checkout Steps */

.checkout-progress div {
  box-sizing: border-box;
}

.checkout-progress {
  display: block;
  clear: both;
  margin: 20px auto;
  width: auto;
  font-family: sans-serif;
  overflow: auto;
}

.step {
  margin: 0;
  border: 0;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 5px 10px 5px 15px;
  color: grey;
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  float: left;
  height: auto;
}

.incomplete {
  background: #eeeeee;
}

.active-step {
  background: #fa9c23;
  color: #fff;
}

.triangle-active {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #fa9c23;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-active {
  width: 0;
  float: left;
  border-top: 20px solid #fa9c23;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #fa9c23;
  margin-right: -1px;
}

.triangle-incomplete {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #eeeeee;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-incomplete {
  width: 0;
  float: left;
  border-top: 20px solid #eeeeee;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #eeeeee;
  margin-right: -1px;
}

/* User Profile */

.avatar-profile {
  height: 16rem;
  width: 16rem;
}

.user-info h4 {
  font-weight: 800;
  color: grey;
  margin-top: 2rem;
}

.user-info p {
  font-size: 1.1rem;
}

#edit_profile {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

#profile_img{
  margin-left: 40px;
}

#profile{
  margin-bottom: 10rem;
}

.marginbm{
  margin-bottom: 15rem;
}

/* Confirm Order */

.order-confirm p,
.order-details p {
  margin-left: 1.5rem;
}

.update-btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  color: white;
}

.update-btn:hover {
  color: #00c066;
}

/* Pagination */
.page-item.active .page-link{
  background-color:  #ffffff;
  color: #1aff90;
  border: 2px solid #026a44;
}

.page-item.disabled .page-link{
  color: #ffffff;
  background-color: #006c3a;
  
}

.page-item{
  padding: 5px;
}

.page-link {
  color: #ffffff;
  background-color: #00c066;
  border-radius: 5px;
}

.page-link:hover {
  background-color: #ffff95;
  color: #06ffa4;
}

/*About page*/

#hero2.about-header{
  background-image: url("../public/images/about/about.png");
  height: 300px;
  padding-top: 50px;
}

#hero2.about-header h2{
  color: rgb(226, 255, 6);
  text-shadow: white;
  font-size: 75px;
  
  margin-left: 505px;
}

#hero2.about-header p{
  display: inline;
  padding-top: 0;
  margin-left: 510px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

#about-head{
  display: flex;
  align-items: center;
  font-size: 20px;
  
}
#about-head h2{
  font-size: 60px;
  padding-bottom: 0.5cm;
}
#about-head p{
  padding-bottom: 0.5cm;
}

#about-head div{
  margin: 0 2cm 0 2cm;
}



#about-head img{
  width: 30%;
  height: auto;
  margin: 2cm 0 2cm 2cm;
}
  
#about-app{
  text-align: center;
  font-size: 25px;
}

#about-app a{
  color:rgb(114, 6, 255);
  text-decoration: none;
}

#about-app a:hover{
  color:rgba(114, 6, 255, 0.688);
}

#about-app .video{
  width: 80%;
  height: 100%;
  padding-left: 10cm;

}

#about-app .video video{
  width: 100%;
  height: 100%;
  
  border-radius: 20px;
  
}






/* Admin Sidebar */

.sidebar-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 100vh;
  font-weight: normal;

  margin-top: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
#sidebar {
  min-width: 100%;
  max-width: 100%;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  color: #ffa012;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #232f3e;
}
#sidebar ul.components {
  padding: 0px;
  
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #341f00;
  font-weight: bold;
  text-decoration: none;
}
#sidebar ul li a:hover{
  color: #000b2d;
  background: rgb(1, 255, 200);
  box-shadow: 1px 1px 10px#000000;
  transition: 0.3s ease;
  border-radius: 10px;
}
#sidebar ul li a.active {
  background: rgb(1, 255, 200);
}
#sidebar ul li div.dropdown-menu a{
  color: #232f3e;
}
#sidebar ul li a i {
  margin-right: 0.3rem;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: #fff;
  background:rgb(1, 255, 200);
}
a[data-toggle='collapse'] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 1rem !important;
  padding-left: 30px !important;
  background: #232f3e;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Products List Admin */
#products_table .btn {
  padding: 0.2rem 0.5rem;
  margin-left: 0.4rem;
}

#products{
  max-width: 1240px;
}
#home_products{
  max-width: 1640px;
}
.homeproduct{
  width: 345px !important;
}
/* Dashboard */
#dashborad{
  margin: 0;
}

#db_sidebar{
  padding: 0;
  flex:0 0 16.666667%;
  max-width: 16.666667%

}
#sidebar{
  padding: 0;
}
.card-font-size {
  font-size: 1.5rem;
}

/* Reviews */

.rating {
  margin-top: 10rem;
}

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #e3e3e3;
}

.star:first-child {
  padding-left: 0;
}

.orange {
  color: #fa9c23;
}

.yellow {
  color: #fdcc0d;
}

.review_user {
  font-size: 0.8rem;
  color: grey;
}

footer{
  background-color: #c4c4c4;
}

footer p{
  color: #000;
}